* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Comienza el header con links de navegación */

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: #f1f1c8;
  z-index: 1;
  position: fixed;
  height: 90px;
}

header ul {
  display: flex;
  flex-direction: row;
  margin-right: 150px;
}

header li {
  padding: 10px;
}

header a {
  color: black;
  padding: 10px;
  background-color: #f1f1c8;
}

header a:hover {
  color: #256d56;
}

header a:focus {
  border-radius: 30px;
  box-shadow: 0 0 10px #a4a476;
}

#contact-button {
  background-color: #256d56;
  color: white;
  border-radius: 50px;
  padding: 10px 30px;
}

#contact-button:hover {
  background-color: #37a884;
  color: black;
}

#contact-button:focus {
  background-color: #256d56;
  box-shadow: 0 0 10px #256d56;
}

/* Finaliza el Header */

/* Comienza el main */

main {
  background-color: white;
  width: 100%;
  box-shadow: inset -20px 0px 40px -20px gray;
}

.section {
  width: 100%;
}

/* Comienza la primera sección: hero */

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

/* Hero: presentación */

.presentation {
  height: 300px;
  padding-top: 100px;
}

.presentation h2 {
  font-size: 30px;
  font-weight: 800;
  margin-top: -30px;
  margin-bottom: 5px;
}

.presentation h1 {
  margin-top: -3px;
  margin-bottom: 5px;
  color: #8d3948;
  font-size: 50px;
  font-weight: 900;
}

.presentation p {
  color: black;
  margin-top: 10px;
  margin-bottom: 40px;
}

.button {
  background-color: #8d3948;
  color: white;
  border-radius: 50px;
  padding: 15px 30px;
}

.button:hover {
  background-color: #d35b71;
  color: black;
}

.button:focus {
  background-color: #8d3948;
  box-shadow: 0 0 10px #8d3948;
}

/* Hero: imagen */

#hero figure {
  width: 30vw;
  max-width: 1000px;
  min-width: 320px;
}

#hero img {
  width: 100%;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

/* Media Queries del hero. Incluye dos breakpoints*/
@media (max-width: 1000px) {
  header nav {
    display: none;
  }

  #hero {
    flex-direction: column;
  }

  .presentation {
    text-align: center;
    padding: 30px;
  }
}

@media (max-width: 300px) {
  .presentation {
    width: 280px;
  }

  #hero figure {
    width: 30vw;
    min-width: 250px;
    padding-top: 50px;
  }
}
/* Finaliza estilado del Hero */

/* Comienza la segunda sección: conocimientos */

#knowledge {
  background-color: #f6f7fb;
  padding: 100px 40px 130px;
  box-shadow: inset -20px 0px 40px -20px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Conocimientos: encabezado */

.header-knowledge {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 300px;
}

.header-knowledge h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 45px;
  font-weight: 900;
  color: #8d3948;
}

.header-knowledge p {
  text-align: center;
  line-height: 1.4em;
  color: black;
  width: 500px;
}

/* Conocimientos: grilla de habillidades (lenguajes) */

.skills-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
}

.skill {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  border: 1px gainsboro solid;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.skill i {
  font-size: 100px;
}

.skill:hover {
  color: #8d3948;
  border: #b4485c solid 1px;
  transform: scale(1.15);
}

.skill p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* Media Queries de la sección de conocimientos. Incluye cuatro breakpoints*/

@media (min-width: 1350px) {
  .skills-grid {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .skills-grid {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .header-knowledge {
    width: 100%;
  }
  .header-knowledge h2 {
    font-size: 2.5rem;
  }
  .header-knowledge p {
    width: auto;
  }

  .skills-grid {
    margin-top: 50px;
  }

  .skill {
    width: 120px;
    height: 120px;
  }

  .skill i {
    font-size: 60px;
  }

  .skill p {
    font-size: 10px;
  }
}

@media (max-width: 300px) {
  .header-knowledge h2 {
    font-size: 2rem;
  }

  .skills-grid {
    width: 280px;
  }

  .skill {
    width: 100px;
    height: 100px;
  }

  .skill i {
    font-size: 50px;
  }
}

/* Finaliza estilado de la sección "Conocimientos" */

/* Comienza la tercera sección: cita */

.phrase-gif {
  background-color: #8d3948;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phrase-gif .quote {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  color: white;
  font-style: italic;
  width: 300px;
  font-size: 20px;
  line-height: 1.4em;
}

#lamp {
  display: none;
}

/* Gif que incluye la frase */

.container {
  width: 20vw;
  max-width: 1000px;
  min-width: 320px;
}

.container img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}

/* Media Queries de la sección "frase". Incluye dos breakpoints*/

@media (max-width: 1000px) {
  .phrase-gif {
    flex-direction: column;
  }

  .phrase-gif .quote {
    text-align: center;
  }

  .phrase-gif .container img {
    display: none;
  }

  .quote p {
    margin-top: 20px;
  }

  #lamp {
    display: contents;
    font-size: 40px;
  }
}

@media (max-width: 300px) {
  .phrase-gif .quote {
    margin: 0;
    width: 220px;
  }
}
/* Finaliza estilado de la sección "Cita" */

/* Comienza la sección de los proyectos*/

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 40px 130px;
}

/* Encabezado de la sección de proyectos */

.header-project {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 300px;
}

.header-project h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 45px;
  font-weight: 900;
  color: #256d56;
}

.header-project p {
  line-height: 1.4em;
  color: black;
  width: 500px;
}

/* Grilla de proyectos */

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.projects-grid a {
  border-radius: 5px;
  border: gainsboro solid 1px;
  background-color: white;
  width: 20vw;
  max-width: 1000px;
  min-width: 320px;
  height: 300px;
  margin: 12px;
  padding: 20px;
}

.projects-grid img {
  width: 100%;
  height: 200px;
}

.projects-grid a:hover {
  color: #256d56;
  border: #369f7e solid 1px;
}

.projects-grid a:active {
  box-shadow: 0 0 10px #256d56;
}

.projects-grid figcaption {
  padding-top: 10px;
  text-align: center;
  color: #256d56;
}

/* Media Queries de la sección de proyectos. Incluye cuatro breakpoints*/

@media (min-width: 1400px) {
  .projects-grid {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  #projects {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .proyects-grid {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .header-project {
    width: 100%;
  }
  .header-project h2 {
    font-size: 2.5rem;
  }
  .header-project p {
    width: 90%;
  }

  .projects-grid {
    padding: 30px 0;
    font-size: 10px;
    width: 320px;
  }

  .projects-grid a {
    width: 150px;
    min-width: 150px;
    height: 150px;
    margin: 0 0 10px 10px;
    padding: 20px;
  }

  .projects-grid img {
    width: 100%;
    height: 70px;
  }
  .projects-grid figcaption {
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .projects-grid {
    width: 320px;
  }

  .projects-grid a {
    margin: 0 0 3px 3px;
  }
}

@media (max-width: 300px) {
  .projects-grid {
    width: 280px;
    padding-top: 60px;
  }
}
/* Finaliza estilado de la sección "Proyectos" */

/* Comienza sección de contacto */

#contact {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #f6f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset -20px 0px 40px -20px gray;
}

/* Contenedor general de la sección */
.box-contact {
  border: #f0f0f1 solid 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 85%;
  height: 700px;
}

/* Contenedor de cada subsección: "contactame" y "escribime" */
.contact {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.contact h2 {
  font-size: 45px;
  font-weight: 900;
  margin-left: 30px;
  margin-top: 20px;
}

.contact p {
  text-align: left;
  line-height: 1.4;
  margin: 20px 50px 16px 30px;
}

/* Subsección "contactame" links de contacto */

.social-networks ul {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 50px;
  margin-top: 30px;
}

.social-link {
  color: rgba(0, 0, 0, 0.781);
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-link i {
  font-size: 18px;
  color: #ff6884;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.social-networks a {
  padding: 10px;
  width: fit-content;
}

.social-networks a:hover {
  color: #ff6884;
}

.social-networks a:focus {
  border-radius: 30px;
  box-shadow: 0 0 10px #ff6884;
}

.social-networks a:hover i {
  background-color: #ff6884;
  color: white;
}

/* Subsección "escribime" formulario */

form {
  margin-top: 20px;
}

input[type],
textarea {
  background-color: rgb(242, 238, 238);
  border-radius: 20px;
  border: 1px solid rgb(242, 238, 238);
  padding: 10px 15px;
  margin-left: 15px;
}

input:focus {
  box-shadow: 0 0 10px #256d56;
}

textarea:focus {
  box-shadow: 0 0 10px #256d56;
}

.name {
  display: flex;
  flex-direction: row;
}

#email {
  width: 420px;
}

input[type="submit"] {
  padding: 15px 40px;
  background-color: #256d56;
  border: #256d56;
  color: white;
  font-size: 16px;
  box-shadow: 0 0 10px #256d56;
  margin-left: -15px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #37a884;
  color: black;
}

input[type="submit"]:focus {
  background-color: #256d56;
}

/* Media Queries de la sección contacto. Incluye cuatro breakpoints*/

@media (max-width: 1050px) {
  .box-contact {
    width: 95%;
  }
}

@media (max-width: 1000px) {
  #contact {
    background-color: white;
    flex-direction: column;
    height: auto;
    padding: 0;
  }
  .box-contact {
    flex-direction: column;
    width: 100%;
    height: auto;
    border: none;
    background: transparent;
    padding: 50px 20px;
  }

  .contact {
    padding: 0;
    margin: 0;
    width: 90%;
    height: auto;
  }

  .social-networks ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .firstname,
  .lastname {
    width: 50%;
    height: 100px;
  }

  #text-name {
    width: 97%;
  }

  #email,
  textarea {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .box-contact {
    padding: 50px 0;
  }

  .contact h2 {
    margin-left: 20px;
  }

  .social-networks ul {
    flex-direction: column;
    margin-left: 20px;
  }

  .social-networks a {
    padding-left: 0px;
  }

  form {
    width: 95%;
  }

  .name {
    flex-direction: column;
  }

  .firstname,
  .lastname {
    width: 100%;
  }

  #text-name {
    width: 100%;
  }
}

@media (max-width: 300px) {
  .contact h2 {
    font-size: 2.25rem;
    margin-left: 10px;
  }

  .contact p {
    margin-left: 10px;
  }
  .social-networks ul {
    flex-direction: column;
    margin-left: 5px;
  }
  .social-link {
    font-size: 15px;
  }
  input[type="submit"] {
    margin-left: 0;
  }
}

/* Finaliza estilado de la sección "Contacto" */

/* Comienza el footer */

footer {
  background-color: #256d56;
  color: white;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer li {
  padding: 20px;
}

/* Links de navegación */

.internal-list a {
  color: white;
  font-size: 15px;
}

.internal-list a:focus {
  background-color: #256d56;
  box-shadow: 0 0 10px white;
  color: white;
}

.internal-list {
  margin-top: 20px;
}

/* links de contacto */

.link-red {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-red i {
  font-size: 20px;
  color: #256d56;
}

.link-red:hover {
  background-color: #256d56;
  border: white solid 1px;
}

.link-red:hover i {
  color: white;
}

.link-red:active {
  box-shadow: 0 0 10px white;
}

.external-list {
  margin-top: -20px;
}

footer p {
  margin-bottom: 20px;
}

/* Media Queries del footer. Incluye dos breakpoints*/

@media (max-width: 500px) {
  footer .internal-list {
    display: none;
  }
}

@media (max-width: 300px) {
  footer li {
    padding: 10px;
  }

  footer p {
    font-size: 14px;
  }
}
/* Finaliza estilado del Footer */
