* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: #f1f1c8;
  z-index: 1;
  position: fixed;
  height: 90px;
}

header ul {
  display: flex;
  flex-direction: row;
  margin-right: 150px;
}

header li {
  padding: 10px;
}

header a {
  color: black;
  padding: 10px;
  background-color: #f1f1c8;
}

header a:hover {
  color: #a4a476;
}

header a:focus {
  border-radius: 30px;
  box-shadow: 0 0 10px #a4a476;
}

#contact {
  background-color: #256d56;
  color: white;
  border-radius: 50px;
  padding: 10px 30px;
}

#contact:hover {
  background-color: #30a37f;
}

#contact:focus {
  background-color: #256d56;
  box-shadow: 0 0 10px #256d56;
}

main {
  background-color: white;
  width: 100%;
  box-shadow: inset -20px 0px 40px -20px gray;
}

.section {
  width: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.presentation {
  height: 300px;
  padding-top: 100px;
}

.hero h2 {
  font-size: 30px;
  font-weight: 800;
  margin-top: -30px;
  margin-bottom: 5px;
}

.hero h1 {
  margin-top: -3px;
  margin-bottom: 5px;
  color: #8d3948;
  font-size: 50px;
  font-weight: 900;
}

.hero p {
  color: black;
  margin-top: 10px;
  margin-bottom: 50px;
}

.button {
  background-color: #8d3948;
  color: white;
  border-radius: 50px;
  padding: 15px 30px;
}

.button:hover {
  background-color: #d35b71;
}

.button:focus {
  background-color: #8d3948;
  box-shadow: 0 0 10px #8d3948;
}

.hero figure {
  width: 30vw;
  max-width: 1000px;
  min-width: 320px;
}

.hero img {
  width: 100%;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

@media (max-width: 1000px) {
  header nav {
    display: none;
  }

  .hero {
    flex-direction: column;
  }

  .presentation {
    text-align: center;
    padding: 30px;
  }
}

@media (max-width: 300px) {
  .presentation {
    width: 280px;
  }

  .hero figure {
    width: 30vw;
    min-width: 250px;
    padding-top: 50px;
  }
}

.section-knowledge {
  background-color: #f6f7fb;
  padding: 100px 40px 130px;
  box-shadow: inset -20px 0px 40px -20px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-knowledge {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 300px;
}

.header-knowledge h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 45px;
  font-weight: 900;
  color: #8d3948;
}

.header-knowledge p {
  text-align: center;
  line-height: 1.4em;
  color: black;
  width: 500px;
}

.knowledge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
}

.skill {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  border: 1px gainsboro solid;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  transition-property: transform;
  transition-duration: 1s ;
  transition-timing-function: ease-out;
}

.skill i {
  font-size: 100px;
}

.skill:hover {
  color: #8d3948;
  border: #b4485c solid 2px;
  transform: scale(1.15);
}

.skill p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 1350px) {
  .knowledge {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .knowledge {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .header-knowledge {
    width: 100%;
  }
  .header-knowledge h2 {
    font-size: 2.5rem;
  }
  .header-knowledge p {
    width: auto;
  }

  .knowledge {
    margin-top: 50px;
  }

  .skill {
    width: 120px;
    height: 120px;
  }

  .skill i {
    font-size: 60px;
  }

  .skill p {
    font-size: 10px;
  }
}

@media (max-width: 300px) {
  .header-knowledge h2 {
    font-size: 2rem;
  }

  .knowledge {
    width: 280px;
  }

  .skill {
    width: 100px;
    height: 100px;
  }

  .skill i {
    font-size: 50px;
  }
}

#lamp {
  display: none;
}

.gif {
  background-color: #8d3948;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif .phrase {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  color: white;
  font-style: italic;
  width: 300px;
  font-size: 20px;
  line-height: 1.4em;
}

.container {
  width: 20vw;
  max-width: 1000px;
  min-width: 320px;
}

.container img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}

@media (max-width: 1000px) {
  .gif {
    flex-direction: column;
  }

  .gif .phrase {
    text-align: center;
  }

  .gif .container img {
    display: none;
  }

  .phrase p {
    margin-top: 20px;
  }

  #lamp {
    display: contents;
    font-size: 40px;
  }
}

@media (max-width: 300px) {
  .gif .phrase {
    margin: 0;
    width: 220px;
  }
}
.section-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 40px 130px;
}

.header-project {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 300px;
}

.header-project h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 45px;
  font-weight: 900;
  color: #256d56;
}

.header-project p {
  line-height: 1.4em;
  color: black;
  width: 500px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100%;
}

.projects a {
  border-radius: 5px;
  border: gainsboro solid 1px;
  width: 20vw;
  max-width: 1000px;
  min-width: 320px;
  height: 300px;
  margin: 12px;
  padding: 20px;
  transition-property: transform;
  transition-duration: 1s ;
  transition-timing-function: ease-out;
}

.projects img {
  width: 100%;
  height: 200px;
}

.projects a:hover {
  color: #256d56;
  border: #369f7e solid 2px;
  transform: scale(1.15);
}

.projects a:focus {
  box-shadow: 0 0 10px #256d56;
}

.projects figcaption {
  padding-top: 10px;
  text-align: center;
  color: #256d56;
}

@media (min-width: 1400px) {
  .projects {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .section-proyect {
    padding: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .proyects {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .header-project {
    width: 100%;
  }
  .header-project h2 {
    font-size: 2.5rem;
  }
  .header-project p {
    width: auto;
  }

  .projects {
    padding-top: 50px;
  }
}

@media (max-width: 300px) {
  .projects a {
    width: 20vw;
    max-width: 1000px;
    min-width: 250px;
    height: 300px;
    margin-bottom: 20px;
    padding: 0;
  }
}

.section-contact {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #f6f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset -20px 0px 40px -20px gray;
}

.box-contact {
  border: #f0f0f1 solid 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 85%;
  height: 700px;
}

.contact {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.contact h2 {
  font-size: 45px;
  font-weight: 900;
  margin-left: 30px;
  margin-top: 20px;
}

.contact p {
  font-size: 18px;
  text-align: left;
  line-height: 1.4;
  margin: 20px 50px 16px 30px;
}

.social-networks ul {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 50px;
  margin-top: 30px;
}

.social-link {
  color: rgba(0, 0, 0, 0.781);
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-link i {
  font-size: 18px;
  color: #ff6884;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.social-networks a {
  padding: 10px;
  width: fit-content;
}

.social-networks a:hover {
  color: #ff6884;
}

.social-networks a:focus {
  border-radius: 30px;
  box-shadow: 0 0 10px #ff6884;
}

.social-networks a:hover i {
  background-color: #ff6884;
  color: white;
}

form {
  margin-top: 20px;
}

input[type],
textarea {
  background-color: rgb(242, 238, 238);
  border-radius: 20px;
  border: 1px solid rgb(242, 238, 238);
  padding: 10px 15px;
  margin-left: 15px;

}

input:focus {
  box-shadow: 0 0 10px #256d56;
  outline: none;
}

textarea:focus {
  box-shadow: 0 0 10px #256d56;
  outline: none;
}

.name {
  display: flex;
  flex-direction: row;
}

#email {
  width: 420px;
}

input[type="submit"] {
  padding: 15px 40px;
  background-color: #256d56;
  border: #256d56;
  color: white;
  font-size: 16px;
  box-shadow: 0 0 10px #256d56;
  margin-left: -15px;
}

input[type="submit"]:hover {
  background-color: #369e7d;
}

input[type="submit"]:focus {
  background-color: #256d56;
}

@media (max-width: 1000px) {
  .section-contact {
    background-color: white;
    flex-direction: column;
    height: auto;
    padding: 0;
  }
  .box-contact {
    flex-direction: column;
    width: 100%;
    height: auto;
    border: none;
    background: transparent;
    padding: 50px 20px;
  }

  .contact {
    padding: 0;
    margin: 0;
    width: 90%;
    height: auto;
  }

  .social-networks ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #email {
    width: 100%;
  }

  textarea {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .box-contact {
    padding: 50px 0;
  }

  .contact h2 {
    margin-left: 20px;
  }

  .social-networks ul {
    flex-direction: column;
    margin-left: 20px;
  }

  .social-networks a {
    padding-left: 0px;
  }

  .name {
    flex-direction: column;
  }

  form{
    width: 95%;
  }

  #text-name {
    width: 100%;
  }
 
}

@media (max-width: 300px) {
  .contact h2 {
    font-size: 2.25rem;
    margin-left: 10px;
  }

  .contact p {
    margin-left: 10px;
  }
  .social-networks ul {
    flex-direction: column;
    margin-left: 5px;
  }
  .social-link {
    font-size: 15px;
  }
  input[type="submit"] {
    margin-left: 0;
  }
}

footer {
  background-color: #256d56;
  color: white;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer li {
  padding: 20px;
}

.link-red {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-red i {
  font-size: 20px;
  color: #256d56;
}

.link-red:hover{
  background-color: #256d56;
  border: white solid 1px;
  
}


.link-red:hover i {
  color:white;
}

.link-red:focus {
  box-shadow: 0 0 40px white;
}


.internal-list a {
  color: white;
  font-size: 15px;
}

.internal-list a:hover {
  color: #30a37f;
}
.internal-list a:focus {
  background-color: #256d56;
  box-shadow: 0 0 10px white;
  color: white;
}

footer p {
  margin-bottom: 20px;
}

.internal-list {
  margin-top: 20px;
}

.external-list {
  margin-top: -20px;
}

@media (max-width: 500px) {
  footer .internal-list {
    display: none;
  }
}

@media (max-width: 300px) {
  footer li {
    padding: 10px;
  }

  footer p {
    font-size: 14px;
  }
}
